
/* ==================================== */
/* 1. Seesaw Body */
/* ==================================== */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7efd2;
    color: darkslategray;
    margin:20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==================================== */
/* 1. Seesaw Container */
/* ==================================== */

.container{
    border:5px #8a8583 solid;
    border-radius: 12px;
    width: 50%;
    height: 100%;
}
.info-panel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}
.stat-box{
    border:2px rgba(64, 62, 62, 0.436) solid;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:16px;
    border-radius: 10px;
    background:#cd8b62
}
.value{
    padding: 8px;
}

/* ==================================== */
/* 1. Seesaw Simulation  */
/* ==================================== */


.seesaw-area {
    height: 300px; 
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-bottom: 30px;
}
.seesaw-plank-container {
    position: absolute;
    bottom: 50px;
    width: 400px; 
    height: 50px;
    transition: transform 0.5s ease-in-out;
    transform-origin: center 100px; 
}
.pivot {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px; 
    z-index: 2;
}
.seesaw-plank {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #6a4a39; 
    border-radius: 5px;
    top: 0;
    left: 0;
    cursor: crosshair;
    position: relative; 
}

/* ==================================== */
/* 4. Control and Log Area */
/* ==================================== */
.controls-and-log {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#reset-seesaw {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.log-area {
    width: 90%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color:#8a8583;
    font-size: 14px;
    white-space: pre-wrap;
}